{% extends 'core/base.html' %}

{%block title %} About | {% endblock %}

{% block content %}
<div class="container">
    <h1 class="has-text-centered is-size-1">About Us</h1>
<img class="image" src="https://images.unsplash.com/photo-1549909773-ab3c0eb3f73e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptatem error minus suscipit quod dolor commodi, assumenda beatae nihil ducimus. Laborum, ducimus. Unde iusto enim debitis quidem delectus. Maxime, aperiam!
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempore nobis voluptates totam quos sit placeat, nostrum aliquid minus iure eum ipsum rerum non porro a quia ratione est numquam?
    </p>
</div>
{% endblock %}