{% extends 'core/base.html' %}
{%block title %} Home | {% endblock %}
{% block content %}
  <!-- Image -->
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <figure class="image is-16by9">
              <img src="https://bulmatemplates.github.io/bulma-templates/images/first-post.png" alt="">
            </figure>
          </div>
        </div>



        {%for post in posts %}


        <section class="section">
            <div class="columns">
              <div class="column is-8 is-offset-2">
               
  
                <div class="content is-medium">
              
                    <h6 class="subtitle">{{post.created_at|timesince}} ago</h6>
                    <h3 class="title has-text-weight-semibold">{{post.title}}</h3>
                  <p class="has-text-justified">{{post.intro}}</p>
                  <p class="mt-1">    <a href="{% url 'post_details' post.slug %}">Read more ..</a></p>
                  
                  </div>
             
              </div> 
            </div>
          </section>
          <div class="is-divider"></div>

        {%endfor  %}




     

        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h2 class="subtitle is-4">December 25, 2022</h2>
                <h1 class="title">Getting Started</h1>
                <p></p>
              </div>
            </div>
          </div>
        </section>


      </div>
    </div>
  </section>

{% endblock %}
